    <section class="section-menu" id="menu">
      <h2>OUR MENU</h2>
      <div class="menu-items">
        <div class="menu-item">
          <img src="./../../../assets/img/R1.png" alt="Tonkotsu Ramen" />
          <div class="menu-content">
            <h3>Tonkotsu Ramen</h3>
            <table>
              <tr>
                <td>CHICKEN</td>
                <td>11.95€</td>
              </tr>
              <tr>
                <td>BEEF</td>
                <td>12.95€</td>
              </tr>
              <tr>
                <td>SHRIMP</td>
                <td>13.95€</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="menu-item menu-item-reverse">
          <img src="./../../../assets/img/R2.png" alt="Spicy Miso Ramen" />
          <div class="menu-content">
            <h3>Spicy Miso Ramen</h3>
            <table>
              <tr>
                <td>CHICKEN</td>
                <td>11.95€</td>
              </tr>
              <tr>
                <td>BEEF</td>
                <td>12.95€</td>
              </tr>
              <tr>
                <td>SHRIMP</td>
                <td>13.95€</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="menu-item">
          <img src="./../../../assets/img/R3.png" alt="Shio Ramen" />
          <div class="menu-content">
            <h3>Shio Ramen</h3>
            <table>
              <tr>
                <td>CHICKEN</td>
                <td>11.95€</td>
              </tr>
              <tr>
                <td>BEEF</td>
                <td>12.95€</td>
              </tr>
              <tr>
                <td>SHRIMP</td>
                <td>13.95€</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </section>